.App {
  text-align: center;
  padding: 20px;
}

.custom-tooltip {
  background-color: white;
  padding: 10px;
  border: 1px solid #efefef;
  width: 140px;
  text-align: left;
}

.label {
  margin: 0 0;
}
